{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <title>Community Forum</title>
    <link rel='stylesheet' href="{% static 'eduweb/styles.css' %}">
    <style>
        body {
            display: inline;
        }
    </style>
</head>
<body>
    <header>
        <h1>Myanmar Educational Resources</h1>
        <nav>
            <a class="header" href="chat.html">Chat</a>
            <a class="header" href="resources.html">Resources</a>
            <a class="header" href="video.html">Videos</a>
            <a class="header" href="news.html">News</a>
            <a class="header" href="aboutus.html">About Us</a>
        </nav>
    </header>

    What chat room would you like to enter?<br>
    <input id="room-name-input" type="text" size="100"><br>
    <input id="room-name-submit" type="button" value="Enter">

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) { // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>

</html>
